.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.image {
    position: relative;
}

.text1 {
  color: rgb(0, 0, 0);
}

.header-on-image1 {
  color: rgb(0, 0, 0);
  overflow: hidden;
  position: absolute;
  display: block;
  text-align: center;
  font-size: 2.8vw;
  font-family: American Typewriter, serif;
  width: 42%;
  left: 50%;
  top: 15%;
}

.p-on-image1 {
  color: rgb(0, 0, 0);
  overflow: hidden;
  position: absolute;
  display: block;
  font-size: 1.6vw;
  font-family: American Typewriter, serif;
  width: 42%;
  left: 50%;
  top: 30%;
}

.pic-on-image1 {
  position: absolute;
  top: 10%;
  left: 8%;
}

.meme-on-image1 {
  position: absolute;
  top: 35%;
  left: 8%;
}

.button-on-image1 {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.title-on-image2 {
  color: rgb(0, 0, 0);
  overflow: hidden;
  position: absolute;
  display: block;
  font-size: 4vw;
  font-family: Brush Script MT, Brush Script Std, cursive;
  position: absolute;
  top: 10%;
  left: 12%;
}

.meme-on-image3 {
  position: absolute;
  top: 40%;
  left: 13%;
}