.head-text {
  position: relative;
}

.pic {
  position: absolute;
  transform: translate(-240%, -50%);
  /* transform: translate(-135%, -50%);  windowWidth/4 */
}

.text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  width: 700px;

  position: absolute;
  
  transform: translate(+10%, -50%);
 }