.head-image {
  position: relative;
}

#header-on-image {
  color: rgb(0, 0, 0);
  overflow: hidden;
  position: absolute;
  display: block;
  text-align: center;
  font-size: 2.8vw;
  font-family: American Typewriter, serif;
  width: 42%;
  left: 50%;
  top: 10%;
}

#p-on-image {
  color: rgb(0, 0, 0);
  overflow: hidden;
  position: absolute;
  display: block;
  font-size: 1.6vw;
  font-family: American Typewriter, serif;
  width: 42%;
  left: 50%;
  top: 35%;
}



.pic-on-image {
  position: absolute;
  top: 9%;
  left: 8%;
}

