.head-text {
  position: relative;
}

.text-on-image {
  color: rgb(0, 0, 0);
  position: absolute;
}

.pic {
  position: absolute;
  transform: translate(-115%, -50%);
  /* transform: translate(-135%, -50%);  windowWidth/4 */
}

.text {
  font-size: 24px;
  width: 700px;

  position: absolute;

  transform: translate(+10%, -50%);
}

.header {
  font-size: 48px;
  width: 2000px;
  position: absolute;
  transform: translate(-32%, -350%);
}