.head-text {
  position: relative;
}

.text-on-image {
  position: absolute;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 40px;
  text-decoration: none;
}

p {
  font-size: 16px;
}
