.text-on-image { 
  width: 100%; 
  overflow: hidden;
}
.text-on-image ul { 
  list-style: none; 
  position: relative; 
  float: left; 
  display: block; 
  left: 50%; 
}
.text-on-image ul li { 
  position: relative; 
  float: left; 
  display: block; 
  right: 50%; 
  margin: 15px;
}